/* START GLOBAL */
html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: white;
}
button {
  width: 207px;
  height: 38px;
  left: 730px;
  top: 568px;
  background-color: black;
  color: white;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
button:hover {
  width: 207px;
  height: 38px;
  left: 730px;
  top: 568px;
  background-color: white;
  color: black;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  transition: all 0.3 ease;
}
h1, h3, h4, p {
  font-family: Roboto;
  font-style: normal;
}
h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
}
h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}
h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 36px;
}
p {
  font-weight: normal;
  font-size: 14px;
}
/* END GLOBAL */

/* START NAVIGATION */
.navigation {
  display: flex;
  padding-left: 300px;
  padding-right: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}
.navigation-links {
  margin-left: auto;
}
.logo {
  height: 20px;
  width: 197px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto;
}
.nav-item {
  margin: 1rem;
}
.nav-item:hover {
  text-decoration: underline;
  transition: all 0.3 ease;
}
/* END NAVIGATION */

/* START "ABOUT ME" */
.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 125px;
  padding-right: 300px;
}
.about-me img {
width: 500px;
padding-left: 300px
}
/* END "ABOUT ME" */

/* START "MY SKILLS" */
#skills {
  padding-left: 300px;
}
.flexcontainer {
  display: flex;
  padding-right: 300px;
  padding-left: 300px;
}
.skill-item {
  width: 33%;
  padding-right:50px;
}
/* END "MY SKILLS" */

/* START "FEATURED PROJECTS" */
#projects {
  text-align: Center;
  padding: 100px;
}
.my-work {
  display: flex;
  justify-content: center;
}
.project-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 50px;
}
#view-all-projects {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  color: lightgrey;
}
#view-all-projects:hover {
  color:white;
  text-decoration: underline;
  transition: all 0.3 ease;
}
/* END "FEATURED PROJECTS" */

/* START FOOTER */
.contact {
  text-align: center;
  padding-bottom: 100px;
}
#contact-email:hover {
text-decoration: underline;
transition: all 0.3 ease;
}
footer {
  background-color: #0E0E0E;
  width: 100%;
}
.footer {
  justify-content: center;
  padding: 50px;
  color: white;
  text-align: center;
}
.footer_text {
  font-family: Roboto;
  font-style: normal;
  display: inline-block;
  padding: 10px;
}
.footer_text:hover {
  text-decoration: underline;
  transition: all 0.3 ease;
}
#copyrightfooter {
  padding: 20px;
  text-align: center;
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: lightgrey;
}
/* END FOOTER */

/* START MOBILE */
@media only screen and (max-width: 600px) {
.about-me {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
#headshot {
  width: 80%;
  justify-content: center;
  width: 80%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#skills {
  padding-top: 150px;
  padding-left: 50px;
}
.flexcontainer {
  display: block;
  padding-right: 50px;
  padding-left: 50px;
}
.skill-item {
width: 100%;
padding-right: 50px;
}
.my-work {
  flex-direction: column;
}
#projects {
  text-align: Center;
  padding: 100px;
}
